@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --color-bg-primary: #333;
  --color-bg-secondary: #222;
  --color-text-primary: #fff;
}

.light {
  --color-bg-primary: #f5f5f5;
  --color-bg-secondary: #fff;
  --color-text-primary: #333;
}
